.wrap {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

header {
  background: salmon;
}

main {
  background: slateblue;
}

footer {
  background: skyblue;
}
.max-width {
  background: rgba(0, 0, 0, 0.5);
  width: min(calc(var(--max-width) * 1rem), 100%);
  margin: auto;
}